@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root {
  --border-radius: 5px;
  --box-shadow: 0 2px 3px;

  --color-background-body: #fff;
  --color-background-table: #fff;

  --color-button: #061015;
  --color-button-hover: #101a1f;
  --color-button-focus: #000000;

  --color-dark: #061015;
  --color-highlight: #fffccc;
  --color-grey: #5d686e;
  --color-grey-lighter: #738087;
  --color-light: #e3f2fa;
  --color-light-lighter: #ecf7fd;

  --color-link: hsl(255,96%,46.3%);
  --color-link-active: currentColor;
  --color-link-focus-hover: hsl(255,96%,66.3%);
  --color-link-visited: hsl(255,96%,16.3%);
  --color-link-border: hsl(255,96%,26.3%);

  --color-text: #232e33;

  --container-width: 768px;
  --input-width: 33%;

  --line-height-text: 1.5;
  --line-height-headlines: 1.125;

  --transition-speed: 0.2s;
}

/* General styling */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background-body);
  color: var(--color-text);
  font-family: 'Lato', sans-serif;
  line-height: var(--line-height-text);
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 1.5em;
  text-rendering: optimizeLegibility;
}

/* Typography */

a {
  border-bottom: 2px solid var(--color-link-border);
  color: var(--color-link);
  cursor: pointer;
  padding-bottom: 2px;
  text-decoration: none;
  transition: color var(--transition-speed);
}
a:visited {
  color: var(--color-link-visited);
}

a:focus, a:hover {
  color: var(--color-link-focus-hover);
}

a:active {
  color: currentColor;
}

abbr,
mark {
  background-color: var(--color-highlight);
}

abbr {
  border-bottom: 1px dotted;
  text-decoration: none;
}

blockquote {
  margin: 0.875em 2em 1.5em;
}

code,
kbd,
samp {
  background-color: var(--color-light-lighter);
  border-radius: var(--border-radius);
  display: inline-block;
  font-family: monospace;
  margin: 0 0.1em;
  padding: 0 0.125em;
}

details {
  margin: 0.875em 0 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5em;
}

details summary {
  font-weight: bold;
  cursor: pointer;
}

figcaption,
small {
  font-size: 0.875em;
  color: var(--color-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark);
  font-weight: 900;
  line-height: var(--line-height-headlines);
}

h1 {
  font-size: 4em;
  margin-bottom: 0.5rem;
}

h1:not(:first-child) {
  margin-top: 1em;
}

h2 {
  font-size: 3.25em;
  margin-bottom: 0.55rem;
}

h2:not(:first-child) {
  margin-top: 1em;
}

h3 {
  font-size: 2.5em;
  margin-bottom: 0.66rem;
}

h3:not(:first-child) {
  margin-top: 1.15em;
}

h4 {
  font-size: 1.75em;
  margin-bottom: 0.75rem;
}

h5 {
  font-size: 1em;
  margin-bottom: 0.875rem;
}

h6 {
  font-size: 0.875em;
  margin-bottom: 1rem;
}

p {
  margin-bottom: .875em;
}

pre > code {
  display: block;
  font-size: .875em;
  margin: 0.875em 0 1.5em;
  overflow: auto;
  padding: 3em;
  white-space: pre-wrap;
}

/* Images */

figure {
  display: block;
  margin: 0.875em 0 1.5em;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Forms */

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  min-width: var(--input-width);
}

button, 
input, 
select, 
textarea {
  border-radius: var(--border-radius);
  background-color: #fff;
  border: 1px solid var(--color-grey-lighter);
  box-shadow: var(--box-shadow) rgb(0,0,0,0.06);
  color: var(--color-grey);
  display: block;
  margin: 0.125em 0 1em;
  opacity: 0.875;
  outline: none;
  padding: 1em;
  transition: opacity var(--transition-speed);
}

button:focus, 
input:focus, 
select:focus, 
textarea:focus {
  color: #000;
	opacity: 1;
}

button, 
input[type='button'],
input[type='reset'],
input[type='submit'] 
{
  border: transparent;
  background-color: var(--color-dark);
  color: #fff;
  cursor: pointer;
  padding: 0.875em 2em;
  transition: background-color var(--transition-speed);
}

button:hover,
input[type='submit']:hover,
input[type='button']:hover {
  background-color: var(--color-button-hover);
}

button:focus,
input[type='submit']:focus,
input[type='button']:focus {
  background: var(--color-button-focus);
  color: #fff;
}

input[type='reset'] {
  background-color: var(--color-grey);
}

input[type='reset']:hover {
  background-color: var(--color-grey-lighter);
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
}

button[disabled],
input[disabled],
textarea[disabled],
select[disabled],
fieldset[disabled] {
	cursor: not-allowed;
	opacity: 0.25;
}

fieldset {
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius);
  padding: 1.5em;
  width: max-content;
}


/* Table */

table {
  border-radius: var(--border-radius);
  background: var(--color-background-table);
  border-collapse: collapse;
  width: 100%;
}

tbody tr:nth-child(even) {
  background-color: var(--color-light-lighter);
}

tbody tr:hover {
  background-color: var(--color-light);
}

td, th {
  padding: 0.5em 0.875em;
  text-align: left;
}

th {
  border-bottom: 1px solid var(--color-grey);
}


/* Navbar */

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  margin: 0 0.5rem;
  position: relative;
  text-align: left;
}

nav > ul > li > a,
nav > ul > li > a:visited {
  color: var(--color-dark);
  text-decoration: none;
  transition: border 0.2s, color 0.2s;
  padding-bottom: 0.5em;
}

nav > ul > li > a:hover {   
  color: var(--color-grey);
  border-bottom: 5px solid var(--color-dark);
}


/* Misc. */

hr {
  background-color: var(--color-light);
  border:none;
  display:block;
  height:2px;
  margin:1.5em 0
}